

<div id="FilterMenu" >


  <button (click)=" Action( )"  mat-stroked-button
    class=" mt-4  btn btn-outline-light">Action</button>




  <button (click)="  Strategy( )" mat-stroked-button
    class=" mt-4 btn  btn-outline-light">Strategy</button>



  <button (click)="  RPG( )" mat-stroked-button class=" mt-4 btn btn btn-outline-light">RPG</button>




  <button (click)=" Shooter( )" mat-stroked-button
    class=" mt-4 btn btn btn-outline-light">Shooter</button>




  <button (click)="  Adventure( )" mat-stroked-button
    class=" mt-4 btn btn btn-outline-light">Adventure</button>



  <button (click)=" Racing( )" mat-stroked-button
    class=" mt-4 btn btn btn-outline-light">Racing</button>




  <button (click)=" Sports( )" mat-stroked-button
    class=" mt-4 btn btn btn-outline-light">Sports</button>



  <button (click)=" all( )" mat-stroked-button class=" mt-4 btn btn btn-outline-light">ALL</button>
