

<div   class=" container">






   <h1 style="font-size:xx-large;" class="  container-fluid mt-2 p-3 text-center m-3 text-light font-italic ">Find Your Game</h1> 


<nav id="NavMenu" style="height:100px ;" class="  container-fluid p-3 mt-4 bg-dark rounded ">
   
     <div class="row">


<div class="col-4">
    <button  routerLink="/index" class=" m-2  btn btn-outline-light " routerLinkActive="active">Home</button>
</div>

         


<div class="col-2 ">
    <button  class=" m-2 btn btn-outline-light" routerLink="/pc"  routerLinkActive="active">PC</button>
</div>

         
<div class="col-2 ">
    <button  routerLink="/xbox"  class="m-2 btn btn-outline-light" routerLinkActive="active">Xbox</button>
</div>

         
<div class="col-2 ">
    <button routerLink="/playstation"   class=" m-2 btn btn-outline-light" routerLinkActive="active">PlayStation</button>
</div>

         
<div class="col-2">
    <button  routerLink="/other"   class=" m-2  btn btn-outline-light" routerLinkActive="active">Other</button>
</div>

         


         </div>


</nav>
</div>

